[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
certifi = "==2023.7.22"
charset-normalizer = "==3.3.2"
distlib = "==0.3.7"
django = "==4.2.7"
djangorestframework = "*"
django-cors-headers = "*"
filelock = "==3.13.1"
idna = "==3.4"
pipenv = "==2023.11.15"
platformdirs = "==3.11.0"
pyyaml = "*"
requests = "==2.31.0"
sqlparse = "==0.4.4"
tzdata = "==2023.3"
urllib3 = "==2.1.0"
virtualenv = "==20.24.6"

[dev-packages]

[requires]
python_version = "3.12"
